<div class="status-bar" title="<%= remaining %> out of <%= cap %> remaining">
  <div class="partial_bar <%= status_class(remaining, cap) %>" style="width: <%= ((remaining.to_f / cap.to_f) * 100).to_i %>%;"></div>
</div>