<div class="status-circle-container <%= status_class(remaining, cap) %>">
  <%= render partial: 'status_circle_svg', locals: {remaining: remaining, cap: cap, width: width} %>
  <label class="amount-remaining"><%= remaining.to_i %></label>
  <label class="status-circle-title"><%= label_text %></label>
</div>