@import 'sizes';

html {
  height: 100%;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Helvetica Neue", "Helvetica";
  font-weight: 400;
  background-color: #f5f7fb;
  height: 100%;
}

* {
  font-weight: 400;
}

.content, .notice, .alert {
  padding: 0 10px;
}

.notice {
  background-color: #26B99E;
  height: 50px;
  line-height: 50px;
  z-index: 1;
  position: relative;
  padding-left: 50px;
  color: #fff;
}

.alert {
  background-color: #f88a03;
  color: #FFFFFF;
  line-height: 50px;
  z-index: 1;
  position: relative;
  padding-left: 50px;
}

.content {
  min-height: calc(100% - #{$headerHeight});
}