.project-list {
  list-style: none;
  padding-left: 20px;

  .project-item {
    display: inline-block;
    position: relative;
    width: 320px;
    height: 225px;
    padding: 25px;
    margin: 8px;
    box-sizing: border-box;
    box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.19);
    border-radius: 4px;
    background-color: #fff;

    .group-name {
      font-size: 14px;
      text-transform: uppercase;
      color: #b5bcd1;
      margin-bottom: 6px;
    }

    a.project-name {
      text-decoration: none;
      color: #0077c2;
      font-size: 22px;
    }
  }
}

.project-state-selector {
  height: 60px;
  line-height: 60px;
  background-color: #eff0f3;
  color: #5d6884;
  font-size: 14px;
  margin: 0 -10px;

  a {
    color: #a1abc6;
  }

  .project-type {
    display: inline-block;
    position: relative;
    text-transform: uppercase;
    margin: 0 50px;

    &:after {
      content: '';
      display: block;
      height: 5px;
      background: #63a8ec;
      position: absolute;
      bottom: 0;
      width: 100%;
    }
  }

  a .project-type:after {
    display: none;
  }
}