.project-list {
  list-style: none;
  padding-left: 20px;

  .project-item {
    display: inline-block;
    position: relative;
    width: 320px;
    height: 175px;
    padding: 25px;
    margin: 8px;
    box-sizing: border-box;
    box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.19);
    border-radius: 4px;
    background-color: #fff;

    .group-name {
      font-size: 14px;
      text-transform: uppercase;
      color: #b5bcd1;
      margin-bottom: 6px;
    }

    a.project-name {
      text-decoration: none;
      color: #0077c2;
      font-size: 22px;
    }

    .project-status {
      position: absolute;
      height: 18px;
      width: 18px;
      border-radius: 9px;
      right: 15px;
      top: 15px;

      &.good {
        background: #b8e986;
        border: 1px solid #7ed321;
      }

      &.warning {
        background: #ffea00;
        border: 1px solid #ffd740;

      }

      &.low {
        background: #f87807;
        border: 1px solid #fa3800;

      }

      &.empty {
        background: red;
        border: 1px solid blue;

      }
    }

    .funding-date {
      position: absolute;
      bottom: 20px;
      color: #acb3cc;
      font-size: 12px;

      &:before {
        content: '$';
        display: inline-block;
        margin-right: 10px;
        border-radius: 2px;
        line-height: 16px;
        width: 16px;
        border: solid 2px #a2a9c6;
        text-align: center;
      }
    }
  }
}