.account-management {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
  text-transform: uppercase;
  background: asset_url('signin-background.png');
  background-size: cover;
  color: #fff;

  .signin-form {
    width: 210px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  h2 {
    margin: 0;
    text-align: center;
    letter-spacing: 1px;
  }

  label {
    color: #6acafe;
    font-size: 10px;
  }

  input::-moz-focus-inner {
    border: 0;
    padding: 0;
    margin-top:-2px;
    margin-bottom: -2px;
  }

  .field {
    margin-top: 14px;

    input {
      width: 100%;
      background: transparent;
      border: 0;
      border-bottom: solid 1px rgba(255, 255, 255, 1);
      height: 30px;
      line-height: 30px;
      color: #fff;
      letter-spacing: 1px;

      &:focus {
        outline: none;
      }
    }
  }

  .actions {
    text-align: center;
    margin-top: 50px;
  }

  button {
    color: #6acafe;
    border: solid 2px #6acafe;
    border-radius: 40px;
    height: 40px;
    line-height: 40px;
    padding: 0 40px;
    background: transparent;
    text-transform: uppercase;
    cursor: pointer;
    box-sizing: content-box;
  }
}