.flex-master {
  display: flex;
  flex-direction: row;
  height: 100%;
  padding: 50px 40px;
  box-sizing: border-box;
}

.project-status {
  width: 325px;
  margin-right: 30px;
  flex-grow: 0;
  flex-shrink: 0
}

.vm-form {
  flex-grow: 1;
}

.card {
  display: inline-block;
  background-color: #fff;
  border-radius: 6px;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.19);
  vertical-align: top;
  box-sizing: border-box;
  padding: 10px;
}