.vm_form {
    display: table;
}
.vm_form div {
    display: table-row;
}
.vm_form div > * {
    display: table-cell;
    margin-right: 15px;
}

.vm_form label {
    text-align: right;
    padding: 0 10px;
}

.vm_form input[type="submit"] {
    font-size: 24px;
}
