.vms {
  border-collapse: collapse;
  width: 95%;

  th {
    text-align: left;
  }

  .resource-caps {
    background-color: #CCCCCC;
  }

  .project-vms {
    margin-left: 15px;
    padding-bottom: 20px;
  }
}
