<svg width="30px" height="32px" viewBox="0 0 30 32" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns">
  <!-- Generator: Sketch 3.4.4 (17249) - http://www.bohemiancoding.com/sketch -->
  <title>plain</title>
  <desc>Created with Sketch.</desc>
  <defs></defs>
  <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage">
    <g id="plain" sketch:type="MSArtboardGroup" fill="#4990E2">
      <path d="M30,22.4 L30,19.2 L17.3684211,11.2 L17.3684211,2.4 C17.3684211,1.072 16.3105263,0 15,0 C13.6894737,0 12.6315789,1.072 12.6315789,2.4 L12.6315789,11.2 L0,19.2 L0,22.4 L12.6315789,18.4 L12.6315789,27.2 L9.47368421,29.6 L9.47368421,32 L15,30.4 L20.5263158,32 L20.5263158,29.6 L17.3684211,27.2 L17.3684211,18.4 L30,22.4 L30,22.4 Z" id="Shape" sketch:type="MSShapeGroup"></path>
    </g>
  </g>
</svg>